<!DOCTYPE html>
<html>
<head>
    <title>File Converter</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>File Converter</h1>
    </header>
    <main>
        <form action="/upload" method="post" enctype="multipart/form-data" id="upload-form">
            <input type="file" name="file" />
            <select name="format">
                <option value="markdown">Markdown</option>
                <option value="html">HTML</option>
            </select>
            <button type="submit">Convert</button>
        </form>
        <div id="conversion-result"></div>
    </main>
      <footer>
        <p>Made by Prabhash Kumar Jha</p>
        <div class="social-links">
            <a href="https://github.com/prabhashj07"><img src="github-icon.png" alt="GitHub"></a>
            <a href="https://twitter.com/prabhashj07"><img src="twitter-icon.png" alt="Twitter"></a>
        </div>
    </footer>
    <script src="scripts.js"></script>
</body>
</html>

